<h1>Все наши посты</h1>
<% @post.each do |post| %>
    <div class="alert alert-light">
        <h2><%= post.title %></h2>
        <h3><%= post.author %></h3>
        <h4><%= post.age %></h4>
        <p><%= post.body %></p>
        <%= link_to "Читать далее", post_path(post), :class => 'btn btn-outline-primary' %>
    </div>
<% end %>